Sections.dtd

<!DOCTYPE Sections
[
<!ELEMENT SECTION (STUDENT+)>
<!ELEMENT STUDENT(SECTION)

<!ATTLIST SECTION Number CDATA #REQUIRED>
<!ATTLIST SECTION Year CDATA #REQUIRED>
<!ATTLIST SECTION Qtr CDATA #REQUIRED>
<!ATTLIST SECTION Course_number CDATA #REQUIRED>
<!ATTLIST SECTION Course_name CDATA #REQUIRED>

<!ATTLIST STUDENT Ssn CDATA #REQUIRED>
<!ATTLIST STUDENT Name CDATA #REQUIRED>
<!ATTLIST STUDENT Class CDATA #REQUIRED>
<!ATTLIST STUDENT Grade CDATA #REQUIRED>
]>